@import "tailwindcss";
body {
   
    background-size: cover ;
    background-position: scale-down;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}
html, body {
  overflow-x: hidden;
}
@layer base {
  body {
    margin: 0;
    background-color: #111827; /* Tailwind gray-900 */
  }
}
